$primary-font: Helvetica, sans-serif;
$primary-color: #FD7314;
$accent-grey-color: #FCFCFD;
$primary-font-color: #373D3F;
$secondary-font-color: #758185;
$border-default: 1px solid #EAEAEA;

%list-flex {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ================STYLE================ */
/* Global Style */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: $primary-font-color;
}
p {
    font-size: 16px;
    margin: 0;
}
h2 {
    font-size: 32px;
    margin: 0;
}
h3 {
    font-size: 18px;
    margin: 0;
}
a {
    text-decoration: none;
}
.o-btn {
    display: inline-block;
    border: none;
    &:hover {

    }
}
.btn--primary {
    background-color: $primary-color;
    color: white;
}
.btn--md {
    font-size: 14px;
    padding: 16px 48px;
    line-height: 1;
    border-radius: 3px;
}
.o-icon {
    display: inline-block;
}
.icon--sm {
    width: 24px;
    width: 24px;
}

/* Header Hero */
.c-hero {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(265deg,#fd9714,#f9423a, #f82e23);
    position: relative;
    max-height: 600px;
    .c-bg-img {
        width: 100%;
        opacity: .4;
    }
    .c-hero__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 1;
        h2 {
            color: white;
        }
    }
    .c-hero__arrow {
        width: 48px;
        height: 48px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 16px;
        }
    }
    .c-hero__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        h2 {
            margin-bottom: 180px;
        }
    }
}
.c-hero-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 24px;

    nav {
        @extend %list-flex;

        li {
            margin: 0;
            padding: 8px 16px;
        }
        a {
            color: white;
            opacity: .8;
            &:hover, 
            &:focus{
                opacity: 1;
            }
        }
    }
}

/* Mission */
.c-mission{
    padding: 80px;
    display: flex;
    .c-mission__title {
        flex-basis: 376px;
        flex-grow: 0;
        flex-shrink: 1;
        h2 {
            max-width: 200px;
        }
    }
    .c-mission__desc {
        flex: 1;
        color: $secondary-font-color;
        p {
            margin-bottom: 16px;
        }
    }
}

/* Vacancy */
.c-vacancy {
    padding: 80px;
    display: flex;
    background-color: $accent-grey-color;
    .c-vacancy__title {
        flex-basis: 376px;
        flex-grow: 0;
        flex-shrink: 1;
        h2 {
            max-width: 200px;
        }
    }
    .c-vacancy__lists {
        flex: 1;
    }
}
.c-vacancy-card {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 24px;
    background-color: white;
    -webkit-box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
    -moz-box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
    box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
    border-radius: 3px;
    .c-vacancy-card__desc {
        display: flex;
        flex-direction: column;
        ul {
            @extend %list-flex;
        }
        li {
            color: $secondary-font-color;
            margin-right: 16px;
            position: relative;
            &:after {
                display: inline-block;
                content: '.';
                position: absolute;
                font-size: 30px;
                top: -10px;
                width: 16px;
                height: 30px;
                line-height: 1;
                text-align: center;
            }
        }
        li:last-child:after {
            display: none;
        }
    }
}

/* Footer */
.c-footer {
    padding: 0 150px 32px;
    background-color: $accent-grey-color;
    .c-footer__content {
        display: flex;
        justify-content: space-between;
        border-top: $border-default;
        color: $secondary-font-color;
        padding: 16px 0;
    }
    p {
        font-size: 14px;
    }
    ul {
        @extend %list-flex;
        align-items: center;
        p {
            margin-right: 8px;
        }
        li {
            margin: 0 4px;
        }
    }
}