$primary-font: Helvetica, sans-serif;
$primary-color: #FD7314;
$accent-grey-color: #FCFCFD;
$primary-font-color: #373D3F;
$secondary-font-color: #758185;
$border-default: 1px solid #EAEAEA;


$max-width-wrapper: 1200px;
$padding-r-l-wrapper: 80px;
$padding-t-b-wrapper: 48px;
$padding-r-l-wrapper-mobile: 24px;
$padding-t-b-wrapper-mobile: 40px;

$height-header: 600px;
$height-header-mobile: 600px;

%list-flex {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ================STYLE================ */
/* Global Style */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: $primary-font-color;
}
p {
    font-size: 16px;
    margin: 0;
}
h2 {
    font-size: 32px;
    margin: 0;
}
h3 {
    font-size: 18px;
    margin: 0;
}
a {
    text-decoration: none;
}
.o-btn {
    display: inline-block;
    border: none;
}
.btn--primary {
    background-color: $primary-color;
    color: white;
    transition: 3ms;
    &:hover {
        background-color: darken($primary-color, 5%);
    }
}
.btn--md {
    font-size: 14px;
    padding: 16px 48px;
    line-height: 1;
    border-radius: 3px;
}
.o-icon {
    display: inline-block;
}
.icon--sm {
    width: 24px;
    width: 24px;
}

/* Header Hero */
.c-hero {
    overflow: hidden;
    position: relative;
    background-color: $primary-color;
    background-image:url('../../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    height: $height-header;
    .c-hero__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $max-width-wrapper;
        margin: 0 auto;
        h2 {
            color: white;
        }
    }
    .c-hero__arrow {
        width: 48px;
        height: 48px;
        background-color: white;
        border-radius: 50%;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 16px;
        }
    }
    .c-hero__content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.c-hero-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 24px;
    width: 100%;

    nav {
        @extend %list-flex;

        li {
            margin: 0;
            padding: 8px 16px;
        }
        a {
            color: white;
            opacity: .8;
            &:hover, 
            &:focus{
                opacity: 1;
            }
        }
    }
    .c-menu-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .c-hero,
    .c-hero__wrapper {
        height: $height-header-mobile;
    }
    .c-menu-mobile {
        display: inline-block !important;
    }
    .c-nav-mobile {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        flex-direction: column;
        right: 32px;
        background-color: white;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
        -moz-box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
        box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
        transition: visibility 0s, opacity 0.5s linear;
        li {
            padding: 16px 32px !important;
        }
        li a {
            color: $primary-color;
        }
    }
    .c-nav-mobile.is-active {
        visibility: visible !important;
        opacity: 1;
        z-index: 2;
    }
}

/* Mission */
.c-mission__wrapper {
    display: flex;
    max-width: $max-width-wrapper;
    padding: $padding-t-b-wrapper $padding-r-l-wrapper;
    margin: 0 auto;
    .c-mission__title {
        flex-basis: 376px;
        flex-grow: 0;
        flex-shrink: 1;
        h2 {
            max-width: 200px;
            margin-bottom: 16px;
        }
    }
    .c-mission__desc {
        flex: 1;
        color: $secondary-font-color;
        p {
            margin-bottom: 16px;
            min-width: 432px;
        }
    }
}
@media (max-width: 767px) {
    .c-mission__wrapper {
        padding: $padding-t-b-wrapper-mobile $padding-r-l-wrapper-mobile;
        flex-direction: column;
    }
    .c-mission__title {
        flex: 1 !important;
    }
    .c-mission__desc p {
        min-width: initial !important;
    }
}

/* Vacancy */
.c-vacancy {
    background-color: $accent-grey-color;
}
.c-vacancy__wrapper {
    display: flex;
    max-width: $max-width-wrapper;
    padding: $padding-t-b-wrapper $padding-r-l-wrapper;
    margin: 0 auto;
    .c-vacancy__title {
        flex-basis: 376px;
        flex-grow: 0;
        flex-shrink: 1;
        h2 {
            max-width: 200px;
            margin-bottom: 16px;
        }
    }
    .c-vacancy__lists {
        flex: 1;
    }
}
.c-vacancy-card {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 24px;
    background-color: white;
    -webkit-box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
    -moz-box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
    box-shadow: 0 0 24px 0 rgba(146, 146, 146, 0.4);
    border-radius: 3px;
    .c-vacancy-card__desc {
        display: flex;
        flex-direction: column;
        ul {
            @extend %list-flex;
        }
        li {
            color: $secondary-font-color;
            margin-right: 16px;
            position: relative;
            &:after {
                display: inline-block;
                content: '.';
                position: absolute;
                font-size: 30px;
                top: -10px;
                width: 16px;
                height: 30px;
                line-height: 1;
                text-align: center;
            }
        }
        li:last-child:after {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .c-vacancy__wrapper {
        padding: $padding-t-b-wrapper-mobile $padding-r-l-wrapper-mobile;
        flex-direction: column;
    }
    .c-vacancy__title {
        flex: 1 !important;
    }
    .c-vacancy-card {
        flex-direction: column;
        padding: 16px;
    }
    .c-vacancy-card__cta {
        padding-top: 8px;
    }
}

/* Footer */
.c-footer {
    background-color: $accent-grey-color;
    .c-footer__wrapper {
        display: flex;
        justify-content: space-between;
        border-top: $border-default;
        color: $secondary-font-color;
        max-width: $max-width-wrapper;
        padding: 16px $padding-r-l-wrapper;
        margin: 0 auto;
    }
    p {
        font-size: 14px;
    }
    ul {
        @extend %list-flex;
        align-items: center;
        p {
            margin-right: 8px;
        }
        li {
            margin: 0 4px;
        }
    }
}


@media (max-width: 767px) {
    .c-footer__wrapper {
        flex-direction: column;
        align-items: center;

        ul {
            margin-top: 16px;
        }
    }
    .credit {
        display: none;
    }
}
.credit {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    padding: 8px;
    color: lighten($primary-color, 30%);
}